.kNUuTe{
    border-radius: 20px 20px 0 0;
    padding: 20px 0 0 10px;
    text-align: center;
}

.kNxEtY{
    font-weight: bold !important;
    font-size: 1.8rem !important;
    line-height: 1.6rem !important;
}

.gKbhqU{
    border-radius: 0 0 20px 20px;
}

.iSAVrt{
    font-weight: bold !important;
}